<ion-tabs>

    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="HomePage">
        <ion-icon name="home" color="blue"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="BoatPage">
        <ion-icon name="boat"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="PersonPage">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="PlanetPage">
        <ion-icon name="planet"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
