<ion-menu side="start" type="overlay" contentId="mainContent" menuId="slidingMenu" id="slidingMenu" (ionWillOpen) = "menuOpened()"  (ionDidClose) = "menuClosed()">
  
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let link of sideMenu">
            <ion-item [routerLink]="link?.linkHref" routerDirection="root" [class.active-item]="selectedPath.startsWith(link?.linkHref)">
              <ion-label>
                  {{link?.title}}
              </ion-label>
            </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
</ion-menu>